<div class='title-contents'>
    <h2 class='service-title'>
      Get to know the mountains and enjoy them

    </h2>
    <p class='service-explain'>
      「山を知り、山を楽しむ」非日常な体験を存分に楽しむためのアプリケーション
    </p>