<div class='baggage-list'>
<h2>持ち物リスト</h2>
      <br>山の天気は変わりやすく、朝は晴れていても天気が急変することが多々あります。<br>
          また長時間山の中を歩き続けるため、様々な気温・環境に対応できる
          服装・持ち物を準備しておくことが大切です。
</div>

  <script src="baggage.js"></script>
  <div class= 'baggage-item'>
  <div class= 'baggage-item-p'>
  <div class= 'required-item'>
  <h2>必須アイテム</h2>
  <div>
    <input type="checkbox" id="baggage" name="baggage">
    <label for="baggage">登山靴</label>
  </div>
  登山では舗装されていない道を歩くため、登山靴が必須。防水性のある靴がおすすめ。

  <div>
    <input type="checkbox" id="baggage" name="baggage">
    <label for="baggage">リュック (ザック)</label>
  </div>
  さまざまな形・大きさがあります。最初に買うなら30Lのサイズがおすすめ。

  <div>
    <input type="checkbox" id="baggage" name="baggage">
    <label for="baggage">レインウェア</label>
  </div>
  「防水性」に加えて、ウェア内のムレを外に逃がしてくれる「透湿性」のあるレインウェアがおすすめ。
  </div>


  <div class= 'clothes-item'>
    <h2>服装</h2>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">アウター</label>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">ミドルレイヤー</label>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">ベースレイヤー</label>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">パンツ</label>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">靴下</label>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">手袋</label>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">帽子</label>
  </div>


  <div class= 'protect-yourself'>
    <h2>身を守るアイテム</h2>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">ヘッドライト</label>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">登山地図・GPSアプリ</label>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">携帯電話・バッテリー</label>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">水分</label>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">行動食</label>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">非常食</label>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">健康保険証</label>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">ゴミ袋</label>
  </div>


  <div　class= 'convenient-item'>
    <h2>便利なアイテム</h2>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">サングラス</label>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">トレッキングポール</label>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">日焼け止め</label>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">常備薬</label>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">筆記用具</label>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">携帯トイレ</label>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">トイレットペーパー</label>
    <input type="checkbox" id="baggage" name="baggage"> <label for="baggage">虫除けスプレー</label>
  </div>

  <div class= 'button'>
    <input type="button" value="保存" onclick="myCheck();"> 
    <input type="reset" value="リセットする">
  </div>
  </div>
  </div>


