<div class='baggage-list'>
<h2>持ち物リスト</h2>
      <br>山の天気は変わりやすく、朝は晴れていても天気が急変することが多々あります。<br>
          また長時間山の中を歩き続けるため、様々な気温・環境に対応できる
          服装・持ち物を準備しておくことが大切です。
</div>

<h2>必須アイテム</h2>
<div>
  <input type="checkbox" id="scales" name="scales">
  <label for="scales">登山靴</label>
</div>
登山では舗装されていない道を歩くため、登山靴が必須。防水性のある靴がおすすめ。

<div>
  <input type="checkbox" id="horns" name="horns">
  <label for="horns">リュック (ザック)</label>
</div>
さまざまな形・大きさがあります。最初に買うなら30Lのサイズがおすすめ。

<div>
  <input type="checkbox" id="horns" name="horns">
  <label for="horns">レインウェア</label>
</div>
「防水性」に加えて、ウェア内のムレを外に逃がしてくれる「透湿性」のあるレインウェアがおすすめ。


<div>
  <h2>服装</h2>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">アウター</label>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">ミドルレイヤー</label>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">ベースレイヤー</label>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">パンツ</label>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">靴下</label>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">手袋</label>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">帽子</label>
</div>


<div>
  <h2>身を守るアイテム</h2>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">ヘッドライト</label>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">登山地図・GPSアプリ</label>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">携帯電話・バッテリー</label>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">水分</label>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">行動食</label>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">非常食</label>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">健康保険証</label>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">ゴミ袋</label>
</div>


<div>
  <h2>便利なアイテム</h2>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">サングラス</label>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">トレッキングポール</label>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">日焼け止め</label>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">常備薬</label>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">筆記用具</label>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">携帯トイレ</label>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">トイレットペーパー</label>
  <input type="checkbox" id="scales" name="scales"> <label for="scales">虫除けスプレー</label>
</div>

<div>
 <button>保存する</button>
 </div>