// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* TOP表紙 */
a {
  text-decoration: #f8f8f8;
}

.main {
  background: #f8f8f8;
}

.title-contents {
  width: 100vw;
  background-image: image-url('sample2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}
/* // TOP表紙 */


/* THEME一覧 */
.theme-contents {
  padding: 5vh 15vw;
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

//.theme-contents>.title {
  //text-align: center;
  //font-size: 3.5vh;
  //font-weight: bold;
  //margin-bottom: 5vh;
  //position: relative;
//}

.theme-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.theme-lists>.list {
  width: 37vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict {
  margin-bottom: 20px;
  width: 100%;
}

.reason-list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.reason-list-blue-text {
  color: #3ccace;
}

.reason-list-description {
  font-size: 18px;
  margin-top: 20px;
}
/* //THEME一覧 */

/* 投稿一覧 */
.wrapper {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  //display: block;
  //font-size: 14px;
  //line-height: 18px;
  //font-weight: 300;
  //max-width: 1400px;
  //padding-left: 5rem;
  //padding-right: 2rem;
  //color: rgb(94, 94, 94);
  //margin: 1rem auto auto;
}

.tweet-img {
  overflow: hidden;
  position: relative;
}

/* //投稿一覧一覧 */

/* 詳細ページ */

.tweet-img-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5vh 15vw;
}

.tweet-img-content>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.name{
  font-size: 40px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.tweet-box-img {
  width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover{
  background-color: #d4f0fd;
}

table th,table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

table td.icon{
  background-size: 35px;
  background-position: left 5px center;
  background-repeat: no-repeat;
  padding-left: 30px;
}
/* //詳細ページ */